@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper h1 {
  text-align: center;
  color: #333;
  margin: 100px auto 50px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  flex-basis: 30%;
  overflow: hidden;
}

.card {
  width: 350px;
  height: 400px;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--img);
  background-size: cover;
  background-position: center;
}

.front span {
  display: inline-block;
  width: 150px;
  background: #fff;
  padding: 14px 0;
  margin-top: 180px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  transition: 1s;
}

.back {
  background: #222;
  transform: rotateX(180deg);
}

.card:hover .card-content {
  transform: rotateX(-180deg);
}

.card:hover .front span {
  transform: translateY(140px);
}

.back p {
  display: inline-block;
  color: #fff;
  margin-top: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin: 30px 10px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #222;
  font-size: 18px;
}
